* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.top {
    padding: 3rem calc((100vw - 1300px) / 2);
}

.top h1{
    padding: 0rem 2rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;
}

.top p{
    padding: 0rem 2rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
}   

.body-container{
    background: #f8b721be;
    display: block;
    height: 120vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

@media (min-width:1000px){
    .body-container{
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        height: 95vh;
    }
}

.column-left {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 2rem;
    margin-bottom: 1rem;
}

.body-container p{
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
}

table {
    padding: 0.5rem;
    border: 2px solid;
    border-radius: 5px;
}

th, td {
    padding: 0.3rem 1rem;
}

.day {
    font-weight: bold;
    font-style: italic;
}

.column-right {
    width: 75%;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

button {
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 0.5rem;
    width: 13rem;
}

button:hover {
    background: #ffff;
    color: #000;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    background: black;
}

footer p {
    padding: 0rem 0.5rem;
    color: white;
}